* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
}

div.container {
    max-width: 1200px;
}

ul {
    list-style-type: none;
}

button {
    padding: .6em 1.2em;
    border: 1px solid transparent;
    border-radius: 2em;
    margin: 0 .4em;
    font-size: 1em;
}

h1 {
    font-size: 3.3rem;
    padding-bottom: .5em;
}

p {
    font-size: 1.2rem;
    line-height: 1.5em;
}

header {
    background-color: #255ee9;
}

header section.top-bar {
    width: 90%;
    padding: 1.4em 1em;
    justify-content: space-between;
}

section.top-bar nav {
    padding: .4em;
}

section.top-bar button {
    font-size: .8em;
}

section.top-bar nav li {
    display: inline-block;
    padding: 0 .5em;
}

header section.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

section .jumbotron-text {
    width: 60%;
    text-align: center;
    padding: 2em 2em 5em;
}

section .jumbotron-text h1 {
    padding: 1.5em 1em .8em;
}

section .jumbotron-text button {
    margin: 0 .4em;
}

section.content>div {
    width: 100%;
    padding: 6em 10em 6em;
    align-items: flex-start;
    justify-content: space-evenly;
}

section.content img {
    width: 60%;
}

section .content-text {
    width: 35%;
    padding: 2em 0;
}

section.main-content {
    padding-top: 2em;
    text-align: center;
}

section.main-content div {
    width: 80%;
    padding-top: 3em;
}

section.main-content img {
    width: 90%;
}

div.start {
    background-image: url(../img/stars.svg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 2em 0 8em;
}

div.start h2 {
    font-size: 2rem;
}

footer nav {
    width: 80%;
    padding: 4em 0 2em;
    border-bottom: 1px solid #7289da;
    justify-content: space-between;
    align-items: flex-start;
}

footer nav div {
    width: 30%;
}

footer nav h2 {
    font-size: 2.3em;
}

select {
    border: none;
    font-size: 1em;
}

div.social-icons img {
    width: 1em;
    display: inline-block;
    margin-right: .3em;
    padding-top: .8em;
}

footer nav ul li {
    color: white;
    margin-top: .8em;
}

section.bottom-bar {
    width: 80%;
    justify-content: space-between;
    padding: 1em 0 5em;
}

#flag {
    width: 1.5em;
}

/*  **  */
.flex {
    display: flex;
}

.centered {
    margin: 0 auto;
}

.padd-b-1em {
    padding-bottom: 1em;
}


/* ** COLOR STYLE */
/* // colors
    --lightblue: #7289da;
    --darkgrey: #23272a; 
    --lightgrey: #f6f6f6;
*/

.bg-lightblue {
    background-color: #7289da;
}

.bg-darkgrey {
    background-color: #23272a;
}

.bg-lightgrey {
    background-color: #f6f6f6;
}

.font-white {
    color: white;
}

.font-lightblue {
    color: #7289da;
}