* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* // colors
    --lightblue: #7289da;
    --darkgrey: #23272a; 
    --lightgrey: #f6f6f6;
*/

body {
    font-family: "Cabin", sans-serif;
}

ul {
    list-style-type: none;
}

button {
    padding: .6em 1.2em;
    border: 1px solid transparent;
    border-radius: 2em;
    margin: 0 .4em;
}

h1 {
    font-size: 3.3rem;
    padding-bottom: .5em;
}

p {
    font-size: 1.2rem;
    line-height: 1.5em;
}

header {
    background-color: #255ee9;
}

header .top-bar {
    width: 90%;
    margin: 0 auto;
    padding: 1.4em 1em;
    display: flex;
    justify-content: space-between;
}

header nav {
    max-width: 50%;
    flex-grow: 1;
    padding: .4em;
}

header nav ul {
    justify-content: space-around;
    flex-grow: 1;
}

header>section {
    background-color: #547ce0;
}

header .jumbotron {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

header .jumbotron h1 {
    padding: 1.8em 1em .8em;
}

header .jumbotron p {
    padding-bottom: 1em;
}

header .jumbotron button {
    margin: 0 .4em;
}

div.section>div {
    width: 100%;
    padding: 6em 10em 6em;
    align-items: flex-start;
    justify-content: space-evenly;
}

main section img {
    width: 60%;
}

main section div {
    width: 35%;
    padding: 2em 0;
}

div.main-content {
    margin: 2em auto;
    text-align: center;
}

div.main-content div {
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
}

div.main-content img {
    width: 90%;
    padding-bottom: 1em;
}

div.ready-to-start {
    background-image: url(../img/stars.svg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 2em 0 8em;
}

div.ready-to-start h2 {
    font-size: 2rem;
    padding-bottom: 1em;
}

div.ready-to-start button {
    font-size: 1.2rem;
}

footer nav {
    width: 90%;
    padding: 4em 0 1em;
    border-bottom: 1px solid #7289da;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}

ul.social-icons {
    justify-content: space-between;
}

select {
    border: none;
}

footer nav ul li {
    color: white;
}

.flex-container {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

/* ** COLOR STYLE */
.bg-lightblue {
    background-color: #7289da;
}

.bg-darkgrey {
    background-color: #23272a;
}

.bg-lightgrey {
    background-color: #f6f6f6;
}

.font-white {
    color: white;
}

.font-lightblue {
    color: #7289da;
}